<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger float-left" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="card-text">Welcome!!!!!!!.</p>
            </div>


            <div class="container">
                <div class="col-xs-6">
                    <div class="card text-center">
                    <div class="  form-padding form-control" style="width:250px ;height:300px">
                            <img th:src="@{/images/img_avatar1.jpg}" class="img-responsive center-block" width="150" height="150" alt="Logo"/>
                            <div class="form-padding">
                                <h4 class="card-title"> <span th:utext="${userName}"></span></h4>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                    </div>
                    </div>
                </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary form-control form-signin">University Updates</button>
                        <button type="submit" class="btn btn-primary form-control form-signin">Student Post </button>
                    </div>
            </div>


    </div>
    </div>
</body>
</html>