<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.media.persistence.dao.UniversityMapper">

    <resultMap id="UserResultMap" type="com.social.media.persistence.model.University">
        <id property="id" column="id"/>
        <result property="branch" column="branch"/>
        <result property="year" column="year"/>
        <result property="syllabus" column="syllabus"/>
    </resultMap>

    <sql id="baseColumns" >
        id                     as "id",
        branch               as "branch",
        year               as "year",
        syllabus              as "syllabus"
    </sql>

    <insert id="save">
        INSERT INTO `T_UNIVERSITY` (branch, year, syllabus) VALUES (#{branch}, #{year}, #{syllabus})
    </insert>

</mapper>