<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
<div class="panel panel-default panel-bg">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="btn-default">
                    <div class="bootstrap-select > select"><button class="radio " type="radio" data-toggle="radio">Select Year </button>
                        <ul class="radio">
                            <li><input name="optyear" type="radio" />First year</li>
                            <li><input name="optyear" type="radio" />Second Year</li>
                            <li><input name="optyear" type="radio" />Third year</li>
                            <li><input name="optyear" type="radio" />Fourth Year</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-default">
                    <div class="radio"> <button class="radio " type="radio" data-toggle="radio">Select Branch </button>
                        <ul class="radio">
                            <li><input name="optbranch" type="radio" />Computer</li>
                            <li><input name="optbranch" type="radio" />Entc</li>
                            <li><input name="optbranch" type="radio" />Mechnical</li>
                            <li><input name="optbranch" type="radio" />IT</li>
                            <li><input name="optbranch" type="radio" />Electrical</li>
                            <li><input name="optbranch" type="radio" />Civil</li>
                        </ul>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-6">
                        <input class="btn btn-success" type="submit" value="register" />
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>

