<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${activeTab == 'syllabus'}" id="universitySyllabus" th:fragment="syllabus">

    <div class="container-fluid">

        <!-- date range picker -->
        <!--<div class="row form-group">
            <div id="syllabusrange" class="pull-right selectbox" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>-->

        <!--<div class="row form-group">-->
            <!--Branch：-->
            <!--<select th:field="*{category}" id="selectpicker" class="selectpicker" data-live-search="true"></select>-->
        <!--</div>-->
        <div class="row form-group">
            <!--<div id="branch" class="pull-right selectbox" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">-->
            <!--<div id="branch" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">-->
            Branch :
                <select id="branch">
                    <option th:value="'blank'"></option>
                    <option th:value="'Computer'" th:text="Computer"></option>
                    <option th:value="'Mechanical'" th:text="Mechanical"></option>
                    <option th:value="'IT'" th:text="IT"></option>
                    <option th:value="'ETC'" th:text="ETC"></option>
                    <option th:value="'Electrical'" th:text="Electrical"></option>
                    <option th:value="'Civil'" th:text="Civil"></option>

                </select>
            <br>
            <br>
            Year:
            <select id="year" onchange="showSyllabus()">
                <option th:value="'blank'"></option>
                <option th:value="'first'" th:text="First-Year"></option>
                <option th:value="'second'" th:text="Second-Year"></option>
                <option th:value="'third'" th:text="Third-Year"></option>
                <option th:value="'final'" th:text="Final-Year"></option>
            </select>
            <br>
            <br>
            <div class="row" id="link"></div>
            <script>
                function showSyllabus()
                {
                    var branch = document.getElementById("branch");
                    var year = document.getElementById("year");

                    if(branch.value == "Computer" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download Computer First Year syllabus</a></li>";

                    }
                     if(branch.value == "Computer" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwjlkY7KoZrhAhWf6XMBHWLqAYYQFjAAegQIARAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202016%2FSPPU_SE_Computer_Engg_2015_Course_Syllabus-4-7-16.pdf&usg=AOvVaw2miyZBEpFc8oTQhMo-yEEF'>Click to download Computer Second Year syllabus</a></li>";

                    }

                      if(branch.value == "Computer" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='http://www.mescoepune.org/documents/comp/3.TE-Computer-Syllabus-2015-Course-3-4-17.pdf'>Click to download Computer Third Year syllabus</a></li>";

                    }
                     if(branch.value == "Computer" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwjLxtrvi5rhAhW78HMBHaUyCpgQFjAAegQIAxAC&url=http%3A%2F%2Fwww.srttc.ac.in%2Fbecomp2015.pdf&usg=AOvVaw0XHhie8VQLgFJPHAMSZ0Pd'>Click to download Computer Final Year syllabus</a></li>";

                    }
                     if(branch.value == "Mechanical" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download Mechanical First Year syllabus</a></li>";

                    }
                    if(branch.value == "Mechanical" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='http://www.mescoepune.org/view-pdf.php?url=documents/mech/SE%20Mechanical-2015%20Pattern.pdf'>Click to download Mechanical Second Year syllabus!</a></li>";

                    }
                    if(branch.value == "Mechanical" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='http://www.mescoepune.org/view-pdf.php?url=documents/mech/TE%20Mechanical%20-2015%20Pattern.pdf'>Click to download Mechanical Third Year syllabus</a></li>";

                    }
                    if(branch.value == "Mechanical" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='http://www.mescoepune.org/view-pdf.php?url=documents/mech/BE%20Mechanical%202015%20course.pdf'>Click to download Mechanical Final Year syllabus</a></li>";

                    }
                    if(branch.value == "IT" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download IT First Year syllabus</a></li>";

                    }
                    if(branch.value == "IT" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwiSpJL1pZrhAhUc7HMBHVwrCdQQFjACegQIABAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202016%2FSEIT%2520(2015%2520Course)-25-7-16.pdf&usg=AOvVaw2scqFiSK7RisfVacy1LdZt'>Click to download IT Second Year syllabus</a></li>";

                    }
                    if(branch.value == "IT" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=8&cad=rja&uact=8&ved=2ahUKEwiXjYXCpprhAhXBmuYKHcGsCGIQFjAHegQICBAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202017%2FRevised%2520TE%2520Instrumentation%2520Syllabus%2520(2015)_27.032018.pdf%3FMobile%3D1%26Source%3D%252Fsites%252Fdocuments%252F%255Flayouts%252Fmobile%252Fview%252Easpx%253FList%253De5b03ac3%25252D89a3%25252D4ec3%25252Da34e%25252D9715d7892e28%2526View%253D213e534b%25252Dec05%25252D4dc9%25252D83c2%25252D850dc79f85ef%2526CurrentPage%253D1&usg=AOvVaw0olKo-KPR7E4mNjZ4zL2gA'>Click to download IT Third Year syllabus</a></li>";

                    }
                    if(branch.value == "IT" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=5&ved=2ahUKEwjg087fpJrhAhXDheYKHQNxCAAQFjAEegQIBRAC&url=http%3A%2F%2Fwww.unipune.ac.in%2FSyllabi_PDF%2Frevised-2015%2Fengineering%2FBE-IT-Syllabus-2012-Course-Final-15-6-15.pdf&usg=AOvVaw38BdWBZtAdy98spPDe2XDg'>Click to download IT Final Year syllabus</a></li>";

                    }
                    if(branch.value == "ETC" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download ETC First Year syllabus</a></li>";

                    }
                    if(branch.value == "ETC" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjT4bPtpprhAhXk7HMBHX3jCskQFjAAegQIARAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202016%2FRevised_SE_E_TC_Syllabus_2016_14__June_2016-27-6-16.pdf&usg=AOvVaw0v7214K6V-hBuqKUYW-JUb'>Click to download ETC Second Year syllabus</a></li>";

                    }
                    if(branch.value == "ETC" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwjT4bPtpprhAhXk7HMBHX3jCskQFjACegQIAxAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202017%2FRevised%2520TE%2520E_TC%2520Syllabus%2520(2015)_27.032018.pdf&usg=AOvVaw2a6hge6x9bH-2sy87FBozU'>Click to download ETC Third Year syllabus</a></li>";

                    }
                    if(branch.value == "ETC" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=2ahUKEwiHvbOgp5rhAhWr7HMBHY_eAtwQFjADegQIAxAC&url=http%3A%2F%2Fwww.unipune.ac.in%2FSyllabi_PDF%2Frevised-2015%2Fengineering%2FBE-ETC-Syllabus-2012-course-revised-syllabus.pdf&usg=AOvVaw2QJwKBRmhrSo1inRY6wVIg'>Click to download ETC Final Year syllabus</a></li>";

                    }
                    if(branch.value == "Electrical" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download Electrical First Year syllabus</a></li>";

                    }
                    if(branch.value == "Electrical" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjtzv3Yp5rhAhXT7nMBHWsgAAQQFjAAegQIBRAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202016%2FSE%2520Electrical%2520Engg%2520(2015%2520course)7-9-16.pdf&usg=AOvVaw2NxFvurvzychk5llUPPJ0I'>Click to download Electrical Second Year syllabus</a></li>";

                    }
                    if(branch.value == "Electrical" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=2ahUKEwjzhYu3p5rhAhVx7HMBHd4aA1sQFjADegQIARAC&url=http%3A%2F%2Fwww.siem.sandipfoundation.org%2Fwp-content%2Fuploads%2F2018%2F01%2FTE-Electrcal-Engg-2015-Course.pdf&usg=AOvVaw2DV9Jn8cgReKJp6Y3RTTC-'>Click to download Electrical Third Year syllabus</a></li>";

                    }
                    if(branch.value == "Electrical" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjzhYu3p5rhAhVx7HMBHd4aA1sQFjAAegQIABAC&url=http%3A%2F%2Fwww.unipune.ac.in%2FSyllabi_PDF%2Frevised-2015%2Fengineering%2FBE%2520Electrical%2520Engineering2-5-16.pdf&usg=AOvVaw1-mXfmEUGgTHDo4fFH7t5C'>Click to download Electrical Final Year syllabus</a></li>";

                    }
                    if(branch.value == "Civil" && year.value == "first") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwis4YGOpJrhAhUE6nMBHbi5DW8QFjABegQIABAC&url=https%3A%2F%2Funipune.ac.in%2FSyllabi_PDF%2Frevised%2Fengg%2FFE_Syllabus.pdf&usg=AOvVaw3OAilAf0rWr3z3V8JBShzW'>Click to download Civil First Year syllabus</a></li>";

                    }
                    if(branch.value == "Civil" && year.value == "second") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwiLp9fpp5rhAhXy7HMBHS36C5cQFjACegQIAhAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202016%2FCivil_All_Subjects_SPPU_Template_Engg_Syllabus_20th_May_2016(1)-24-6-16.pdf%3FMobile%3D1%26Source%3D%252Fsites%252Fdocuments%252F%255Flayouts%252Fmobile%252Fview%252Easpx%253FList%253D364699b5%25252Dbbf5%25252D4e46%25252D942b%25252D44b03c3c65c6%2526View%253Dafc71681%25252Dd453%25252D42e7%25252Da5c0%25252Dd29d38b5d9e2%2526CurrentPage%253D1&usg=AOvVaw1uOkhh6OSmSJU8c0olqTf9'>Click to download Civil Second Year syllabus</a></li>";

                    }
                    if(branch.value == "Civil" && year.value == "third") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=8&cad=rja&uact=8&ved=2ahUKEwiLp9fpp5rhAhXy7HMBHS36C5cQFjAHegQIBhAC&url=http%3A%2F%2Fcollegecirculars.unipune.ac.in%2Fsites%2Fdocuments%2FSyllabus%25202017%2FRevised%2520TE%2520Civil%2520Syllabus%2520(2015)_27.032018.pdf&usg=AOvVaw2awslitQcwZJStUnlLKG0d'>Click to download Civil Third Year syllabus</a></li>";

                    }
                    if(branch.value == "Civil" && year.value == "final") {
                        alert(year.value);
                        document.getElementById('link').innerHTML = "<li><a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjxgMiQqJrhAhXkQ3wKHYqSB-sQFjAAegQIBhAC&url=http%3A%2F%2Fwww.unipune.ac.in%2FSyllabi_PDF%2Frevised-2015%2Fengineering%2FBE-Civil-2012-Course.pdf&usg=AOvVaw3B9gRGC1gzBZgJgQJUuqMg'>Click to download Civil Final Year syllabus</a></li>";

                    }

                    //alert('in here');
                }
            </script>

                <!--<span></span> <b class="caret"></b>-->
            <!--</div>-->















                <div class="centered"><h2><a th:href="@{https://www.cadcamlab.org/courseware/PDFs/ENOVIA%20VPLM%20Basic%20Concepts.pdf}"></a></h2></div>
        <!--<div class="row form-group">
        <embed src="../forum/assignment.pdf" />
        </div>-->
        <!-- post edit result message -->
        <!--<div th:switch="${editResult}">
            <div th:case="'success'">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    The data was updated successfully.
                </div>
            </div>
            <div th:case="'failure'">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Data update failed.
                </div>
            </div>
        </div>

        <div th:if="${posts.size()==0}" class="centered"><h2>No content for the selected date</h2></div>

        <ul class="list-group list-custom-corner">
            <li class="profile-list list-group-item side-borderless last-border" th:each="post:${posts}">
                <div class="media">
                    <div class="media-body">
                        <div class="media-heading">
                            <a class="post-title" th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">title</a>
                        </div>
                        <a class="post-tag"
                           th:href="@{/category/{categoryName}(categoryName=${post.category.name})}"
                           th:text="${post.category.displayName}"></a>
                        <span class="post-date" th:text="${'release time：' + post.dateFormat()}"></span>
                    </div>
                    <div class="media-right media-middle">
                        <button type="button" class="btn btn-primary editButton" data-toggle="modal" th:attr="data-post-id=${post.id}">edit</button>
                    </div>
                    <div class="media-right media-middle">
                        <button type="button" class="btn btn-danger deleteButton" data-toggle="modal"
                                th:attr="data-post-id=${post.id},
		                    data-post-title=${post.title},
		                    data-post-username=${post.user.username},
		                    data-post-date=${post.dateCreated}">delete</button>
                    </div>
                </div>
            </li>
        </ul>-->
    </div>
</div>
</div>
</body>
</html>